<div fxLayout="column" fxLayoutAlign="center center" ngClass.lt-md="text-align-center">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
    <div fxFlex="30" fxLayoutAlign="end center" fxLayoutAlign.lt-md="center center">
      <img class="profile-image" src="assets/photo.jpg" alt="Profile Image">
    </div>
    <div fxFlex="60" ngClass.sm="small-margin" ngClass.xs="small-margin--xs">
      <div fxFlex.lt-md="auto" fxFlex="70" fxLayout="column" fxLayoutAlign.lt-md="center center">
        <h1 class="Name">Muhammad Sohaib</h1>
        <!--
        <div class="underline-title--top" fxLayoutAlign.lt-md="center center">
          <h1 class="left-titles">M. Sc. Computer Science Student</h1>
        </div>
        -->
        <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
          <p class="text-align-left">
            I am a second-year PhD student at University of Nevada, Reno in the BME and AI Laboratory advised by <a href="https://www.unr.edu/ebme/people/bahram-parvin" target="_blank"
                     class="link-style-green">Bahram Parvin</a>. My research focuses on developing advanced AI and ML models to solve complex problems in medical imaging and beyond.
            <br>
          
            Consider joining my <a href="https://medium.com/@sohaibcs1" target="_blank"
            class="link-style-green">Reading Blog</a>.
          </p>

          <div fxLayout="row" fxLayout.xs="column">
            <!-- <a href="https://scholar.google.com/citations?user=bnXfJdEAAAAJ" target="_blank"
               class="socials-links link-style-black text-black">
              <fa-icon class="link-icon-style-green" [icon]="Gscholar"></fa-icon>
              Google Scholar
            </a> -->
            <a href="https://github.com/sohaibcs1" target="_blank" class="socials-links link-style-black text-black">
              <fa-icon class="link-icon-style-green" [icon]="github"></fa-icon>
              GitHub
            </a>
            <a href="https://www.linkedin.com/in/sohaibcs1/" target="_blank"
               class="socials-links link-style-black text-black">
              <fa-icon class="link-icon-style-green" [icon]="linkedin"></fa-icon>
              LinkedIn
            </a>
            <!-- <a href='https://twitter.com/HannesStaerk' target="_blank"
               class="socials-links link-style-black text-black">
              <fa-icon class="link-icon-style-green" [icon]="twitter"></fa-icon>
              Twitter
            </a> -->
            <!-- <a href='https://www.youtube.com/channel/UC4uWMmEGc5EZVn5pAox-iww' target="_blank"
               class="socials-links link-style-black text-black">
              <fa-icon class="link-icon-style-green" [icon]="youtube"></fa-icon>
              YouTube
            </a> -->
            <a class="socials-links link-style-black text-black" href="mailto:sohaib.cs1@gmail.com">
              <fa-icon class="link-icon-style-green" [icon]="mail"></fa-icon>
              sohaib.cs1@gmail.com
            </a>
               <a href="https://scholar.google.com/citations?user=0EeIox4AAAAJ&hl=en" target="_blank"
               class="socials-links link-style-black text-black">
              <fa-icon class="link-icon-style-green" [icon]="Gscholar"></fa-icon>
              Google Scholar
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column" class="width100">
    <!-- section 0 -->
    <div>
      <div fxHide.lt-md>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center" fxLayoutAlign="center start">
          <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
            <div fxFlex.gt-sm="200px" fxFlex.lt-md="100" ngClass.gt-sm="underline-title" ngClass.lt-md=""
                 fxLayoutAlign.lt-md="center center">
              <h1 class="left-titles">MAIN PAPERS</h1>
            </div>
          </div>
          <div fxFlex="60">
            <div fxFlex.lt-md="" fxFlex="70" class="underline-title" fxLayout="column"
                 fxLayoutAlign.lt-md="center center">

              <h1 class="left-titles">(all papers: <a href="https://scholar.google.com/citations?user=0EeIox4AAAAJ&hl=en" target="_blank"
               class="socials-links link-style-black text-black"><fa-icon class="link-icon-style-green" [icon]="Gscholar"></fa-icon></a>)</h1>
            </div>
          </div>
        </div>
      </div>

      <div fxHide.gt-sm ngClass.sm="small-margin" ngClass.xs="small-margin--xs" class="underline-title"
           fxLayoutAlign="center center">
        <h1 class="left-titles">PAPERS (all papers: <a href="https://scholar.google.com/citations?user=bnXfJdEAAAAJ" target="_blank"
               class="socials-links link-style-black text-black"><fa-icon class="link-icon-style-green" [icon]="Gscholar"></fa-icon></a>)</h1>
      </div>

      <div ngClass.sm="small-margin" ngClass.xs="small-margin--xs" fxLayout="row" fxLayout.lt-md="column"
           fxLayoutAlign.lt-md="center center"
           fxLayoutAlign="center start">
        <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
        </div>
        <div fxFlex="60">
          <div class="text-area" fxFlex.lt-md="" fxFlex="70" fxLayout="column" fxLayoutAlign.lt-md="center center">


            <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">




               <!-- Copy Start -->
               <div fxLayout="row">
                <h3>
                  <a class="item-subtitle link-style-black"
                     href="https://openreview.net/forum?id=o0sRT1GWg0#discussion"
                     target="_blank">3D-Organoid-SwinNet: High-content profiling of 3D organoids</a></h3>
              </div>

              <p class="item-date-loc">
                <fa-icon class="icon-right-margin" [icon]="authors"></fa-icon>
                <b>Muhammad Sohaib</b>, Siyavash Shabani, Sahar Mohammed, Qingsu Cheng, Garrett Winkelmaier, Bahram Parvin
              </p>
              <p class="item-content">
                <i>IEEE-EMBS International Conference on Biomedical and Health Informatics 2024, 🇺🇸@Houston, TX USA</i>
              </p>
              <div fxLayout="column" fxLayoutGap="5px">
                <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">

                  <img class="previewable-image" fxFlex="70"
                       src="assets/3d_organoid.png"
                       alt="image at full size">
                  <img class="previewable-image2" fxFlex="20"
                       src="assets/organoid1.png"
                       alt="image at full size">
                  <img class="previewable-image2" fxFlex="10"
                       src="assets/organoid2.png"
                       alt="image at full size">
              
                </div>
              </div>
              <br/>
              <hr ngClass.gt-sm="separator-slim" ngClass.lt-md="separator-slim--small">
                 <!-- Copy End -->


              <div fxLayout="row">
                <h3>
                  <a class="item-subtitle link-style-black"
                     href="https://arxiv.org/abs/2406.17080"
                     target="_blank">Multi-Aperture Fusion of Transformer-Convolutional Network (MFTC-Net) for 3D Medical Image Segmentation and Visualization</a>
              
                    </h3>
              </div>

              <p class="item-date-loc">
                <fa-icon class="icon-right-margin" [icon]="authors"></fa-icon>
                Siyavash Shabani, <b>Muhammad Sohaib</b>, Sahar Mohammed, Bahram Parvin.
              </p>
            
              <p class="item-content">
                <i>CVPR 2024, 🇺🇸@Seattle, USA</i>
              </p>
              <div fxLayout="column" fxLayoutGap="5px">
                <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">

                  <img class="previewable-image2" fxFlex="50"
                       src="assets/cvpr.png"
                       alt="image at full size">
                  <img class="previewable-image2" fxFlex="50"
                       src="assets/cvpr2.jpg"
                       alt="image at full size">
         

                </div>
              </div>
              <br/>
              <hr ngClass.gt-sm="separator-slim" ngClass.lt-md="separator-slim--small">

               <!-- Copy Start -->
              <div fxLayout="row">
                <h3>
                  <a class="item-subtitle link-style-black"
                     href="https://link.springer.com/chapter/10.1007/978-3-031-60875-9_21"
                     target="_blank">HCI-Driven Machine Learning for Early Detection of Lung Cancer: An Ensemble Approach</a></h3>
              </div>

              <p class="item-date-loc">
                <fa-icon class="icon-right-margin" [icon]="authors"></fa-icon>
                <b>Muhammad Sohaib</b>
              </p>
              <p class="item-content">
                <i>International Conference on Human-Computer Interaction 2024, 🇺🇸@Washington, D.C. USA</i>
              </p>
              <div fxLayout="column" fxLayoutGap="5px">
                <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">

                  <img class="previewable-image" fxFlex="50"
                       src="assets/hci1.jpg"
                       alt="image at full size">
                  <img class="previewable-image2" fxFlex="30"
                       src="assets/hci2.jpg"
                       alt="image at full size">
                  <img class="previewable-image2" fxFlex="20"
                       src="assets/hci3.jpg"
                       alt="image at full size">

                </div>
              </div>
              <br/>
              <hr ngClass.gt-sm="separator-slim" ngClass.lt-md="separator-slim--small">
                 <!-- Copy End -->

              <div fxLayout="row">
                <h3>
                  <a class="item-subtitle link-style-black"
                     href="https://arxiv.org/abs/2304.05065"
                     target="_blank">Artificial intelligence based prediction on lung cancer risk factors using deep learning
                    </a></h3>
              </div>
              <p class="item-date-loc">
                <fa-icon class="icon-right-margin" [icon]="authors"></fa-icon>
                <b>Muhammad Sohaib</b>, Mary Adewunmi
              </p>
              <p class="item-content">
                <i>International Journal of Informatics and Communication Technology 2023</i>
              </p>
              <div fxLayout="column" fxLayoutGap="5px">
                <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">

                  <img class="previewable-image" fxFlex="50"
                  src="assets/jone.JPG"
                  alt="image at full size">
                <img class="previewable-image2" fxFlex="30"
                      src="assets/j1.JPG"
                      alt="image at full size">
                <img class="previewable-image2" fxFlex="20"
                      src="assets/j2.JPG"
                      alt="image at full size">

                </div>
              </div>
              <!-- <hr ngClass.gt-sm="separator-slim" ngClass.lt-md="separator-slim--small"> -->
            </div>
          </div>
        </div>
      </div>
      <!-- section 1 -->
      <div>
        <div fxHide.lt-md>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center" fxLayoutAlign="center start">
            <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
              <div fxFlex.gt-sm="200px" fxFlex.lt-md="100" ngClass.gt-sm="underline-title" ngClass.lt-md=""
                   fxLayoutAlign.lt-md="center center">
                <h1 class="left-titles">EDUCATION</h1>
              </div>
            </div>
            <div fxFlex="60">
              <div fxFlex.lt-md="" fxFlex="70" class="underline-title" fxLayout="column"
                   fxLayoutAlign.lt-md="center center">
                <h1 class="left-titles--hidden">.</h1>
              </div>
            </div>
          </div>
        </div>

        <div fxHide.gt-sm ngClass.sm="small-margin" ngClass.xs="small-margin--xs" class="underline-title"
             fxLayoutAlign="center center">
          <h1 class="left-titles">EDUCATION</h1>
        </div>
        <div ngClass.sm="small-margin" ngClass.xs="small-margin--xs" fxLayout="row" fxLayout.lt-md="column"
             fxLayoutAlign.lt-md="center center"
             fxLayoutAlign="center start">
          <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
          </div>
          <div fxFlex="60">
            <div class="text-area" fxFlex.lt-md="" fxFlex="70" fxLayout="column" fxLayoutAlign.lt-md="center center">

              <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
                <a class="item-title">PhD at UNR | AI and Machine Learning</a>
                <div fxLayout="row">
                  <h3>
                    <a class="item-subtitle link-style-black" href="https://www.unr.edu/" target="_blank">University of Nevada, Reno</a></h3>
                </div>
                <p class="item-date-loc">
                  <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                  June 2023 - Continue
                  <a fxHide.xs>
                    <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                    Reno, Nevada, USA
                  </a>
                </p>
                <p class="item-content">
                  Advisor Prof. <a
                  href="https://www.unr.edu/ebme/people/bahram-parvin"
                  target="_blank"
                  class="link-style-green">Bahram Parvin</a>.
                </p>
              </div>
              <hr ngClass.gt-sm="separator" ngClass.lt-md="separator--small">
              <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
                <a class="item-title">M.Sc. Computer Science | Machine Learning </a>
                <div fxLayout="row">
                  <h3>
                    <a class="item-subtitle link-style-black" href="https://www.tju.edu.cn/" target="_blank">Tianjin University</a></h3>
                </div>
                <p class="item-date-loc">
                  <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                  Oct 2021 - Sept 2023
                  <a fxHide.xs>
                    <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                    Tianjin, China
                  </a>
                </p>
         
              </div>
              <hr ngClass.gt-sm="separator" ngClass.lt-md="separator--small">
              <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
                <a class="item-title">B.Sc. Computer Science </a>
                <div fxLayout="row">
                  <h3>
                    <a class="item-subtitle link-style-black" href="https://www.gcu.edu.pk/" target="_blank">
                      Government College University Lahore</a></h3>
                </div>
                <p class="item-date-loc">
                  <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                  Sept 2014 - Sept 2018
                  <a fxHide.xs>
                    <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                    Lahore, Pakistan
                  </a>
                </p>
             
              </div>
              <!--
              <hr ngClass.gt-sm="separator" ngClass.lt-md="separator--small">
              <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
                <a class="item-title">A-Levels</a>
                <h3 class="item-subtitle">Joseph-Bernhart-Gymnasium</h3>
                <p class="item-date-loc">
                  <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                  2009 - 2017
                  <a fxHide.xs>
                    <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                    Türkheim, Germany
                  </a>
                </p>
                <p class="item-content">I participated and helped organizing multiple sports events or shows and was
                  involved in starting the schools chess group.</p>
              </div>
              -->
            </div>
          </div>
        </div>
      </div>
      <!-- section 2 -->
      <div>
          <div fxHide.lt-md>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center"
                 fxLayoutAlign="center start">
              <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
                <div fxFlex.gt-sm="200px" fxFlex.lt-md="100" ngClass.gt-sm="underline-title" ngClass.lt-md=""
                     fxLayoutAlign.lt-md="center center">
                  <h1 class="left-titles">PROFESSIONAL</h1>
                </div>
              </div>
              <div fxFlex="60">
                <div fxFlex.lt-md="" fxFlex="70" class="underline-title" fxLayout="column"
                     fxLayoutAlign.lt-md="center center">
                  <h1 class="left-titles--hidden">.</h1>
                </div>
              </div>
            </div>
          </div>
          <div fxHide.gt-sm ngClass.sm="small-margin" ngClass.xs="small-margin--xs" class="underline-title"
               fxLayoutAlign="center center">
            <h1 class="left-titles">PROFESSIONAL</h1>
          </div>
          <div ngClass.sm="small-margin" ngClass.xs="small-margin--xs" fxLayout="row" fxLayout.lt-md="column"
               fxLayoutAlign.lt-md="center center"
               fxLayoutAlign="center start">
            <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
            </div>
            <div fxFlex="60">
              <div class="text-area" fxFlex.lt-md="" fxFlex="70" fxLayout="column" fxLayoutAlign.lt-md="center center">

                <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
                <a class="item-title">Graduate Research Assistant</a>
                <div fxLayout="row">
                  <h3>
                    <a class="item-subtitle link-style-black" href="https://www.unr.edu/" target="_blank">
                      University of Nevada Reno</a>
                  </h3>
                </div>
                <p class="item-date-loc">
                  <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                  June 2023 - Current
                  <a fxHide.xs>
                    <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                    Reno, USA
                  </a>
                </p>
                <p class="item-content">
                  <li>
                    Developed a 3D cell segmentation model using a Swin Transformer and convolutional layers in the encoder, and a multiscale MLP in the decoder, achieving better performance with fewer parameters.
                  </li>
                  <li>
                    Designed a computational platform for high-content screening of 3D cell culture models, integrating nuclei segmentation, colony visualization, and morphogenesis analysis. This system enhances quality control and facilitates heterogeneity analysis to profile cell growth properties across various experimental conditions, utilizing advanced bioinformatics tools such as ParaView.
                  </li>
                 
                </p>
              </div>
              <hr ngClass.gt-sm="separator" ngClass.lt-md="separator--small">
                <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
                  <a class="item-title">Machine Learning Engineer</a>
                  <div fxLayout="row">
                    <h3>
                      <a class="item-subtitle link-style-black" >
                        Confidential</a></h3>
                  </div>
                  <p class="item-date-loc">
                    <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                    May 2021 - May 2023
                    <a fxHide.xs>
                      <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                      Lahore, Pakistan
                    </a>
                  </p>
                  <p class="item-content"> 
                   <li>
                    Developed a model using YOLO for real-time detection of armed or civilian vehicles and license plates, with records maintained in a PostgreSQL database.
                   </li>
                   <li>Created a model using Top2Vec for topic modeling and BART for summarizing raw text, improving information retrieval.</li>
                   <li>Designed a system utilizing CNNs for analyzing satellite images and detecting changes, with records stored in a database. </li>
                  </p>
                </div>
                <hr ngClass.gt-sm="separator" ngClass.lt-md="separator--small">
                <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
                  <a class="item-title">Junior Lecturer and Web Developer</a>
                  <div fxLayout="row">
                    <h3>
                      <a class="item-subtitle link-style-black" href="https://scet.sharif.edu.pk/historical-profile/" target="_blank">
                        Sharif College of Engineering and Technology (affiliated with UET Lahore)</a></h3>
                  </div>
                  <p class="item-date-loc">
                    <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                    November 2018 - May 2021
                    <a fxHide.xs>
                      <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                      Lahore, Pakistan
                    </a>
                  </p>
                  <p class="item-content">
                    Instructed undergraduate courses in Machine Learning, AI, and Python while overseeing the university website. Led effective admission campaigns, achieving a 10% increase in student enrollments.               
                  </p>
                </div>
              
             
              </div>
            </div>
          </div>
        </div>
        <!-- section 3 -->
      <div id="projects">
 
      
                  
        <!-- section -->
        <div>
          <div fxHide.lt-md>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center"
                 fxLayoutAlign="center start">
              <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
                <div fxFlex.gt-sm="200px" fxFlex.lt-md="100" ngClass.gt-sm="underline-title" ngClass.lt-md=""
                     fxLayoutAlign.lt-md="center center">
                  <h1 class="left-titles">AWARDS</h1>
                </div>
              </div>
              <div fxFlex="60">
                <div fxFlex.lt-md="" fxFlex="70" class="underline-title" fxLayout="column"
                     fxLayoutAlign.lt-md="center center">
                  <h1 class="left-titles--hidden">.</h1>
                </div>
              </div>
            </div>
          </div>
          <div fxHide.gt-sm ngClass.sm="small-margin" ngClass.xs="small-margin--xs" class="underline-title"
               fxLayoutAlign="center center">
            <h1 class="left-titles">AWARDS</h1>
          </div>
          <div ngClass.sm="small-margin" ngClass.xs="small-margin--xs" fxLayout="row" fxLayout.lt-md="column"
               fxLayoutAlign.lt-md="center center"
               fxLayoutAlign="center start">
            <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
            </div>
            <div fxFlex="60">
              <div class="text-area" fxFlex.lt-md="" fxFlex="70" fxLayout="column" fxLayoutAlign.lt-md="center center">

                <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
                  <li class="item-content">
                    Awarded with Chinese Government Scholarship for master students in China (2020).
                  </li>
                  <li class="item-content">
                    Awarded with Merit Scholarship for bachelor students form GC University Lahore (2014-18).
                  </li>
                  <li class="item-content">
                    First position in programming competition held by Bazingo Inc. Software House.

                  </li>
                  <li class="item-content">
                    Class topper from grade 6 to grade 10 among 40-60 students in each class.
                  </li>
                  <li class="item-content">
                    3rd position in quiz competition from Punjab College.
                  </li>
                 
                  <li class="item-content">
                    Awarded with laptop from youth prime minister’s scheme in bachelor studies.

                  </li>
                </div>
               

              </div>
            </div>
          </div>
        </div>


        <!-- section break -->
        <div>
          <div fxHide.lt-md>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center"
                 fxLayoutAlign="center start">
              <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
                <div fxFlex.gt-sm="200px" fxFlex.lt-md="100" ngClass.gt-sm="underline-title" ngClass.lt-md=""
                     fxLayoutAlign.lt-md="center center">
                  <h1 class="left-titles">Voluntary Work</h1>
                </div>
              </div>
              <div fxFlex="60">
                <div fxFlex.lt-md="" fxFlex="70" class="underline-title" fxLayout="column"
                     fxLayoutAlign.lt-md="center center">
                  <h1 class="left-titles--hidden">.</h1>
                </div>
              </div>
            </div>
          </div>
          <div fxHide.gt-sm ngClass.sm="small-margin" ngClass.xs="small-margin--xs" class="underline-title"
               fxLayoutAlign="center center">
            <h1 class="left-titles">Voluntary Work</h1>
          </div>
          <div ngClass.sm="small-margin" ngClass.xs="small-margin--xs" fxLayout="row" fxLayout.lt-md="column"
               fxLayoutAlign.lt-md="center center"
               fxLayoutAlign="center start">
            <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
            </div>
            <div fxFlex="60">
              <div class="text-area" fxFlex.lt-md="" fxFlex="70" fxLayout="column" fxLayoutAlign.lt-md="center center">

                <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
                  <a class="item-title">International Student Ambassador</a>
                  <div fxLayout="row">
                    <h3>
                      <a class="item-subtitle link-style-black" href="https://www.tju.edu.cn/"
                         target="_blank">
                         Tianjin University</a></h3>
                  </div>
                  <p class="item-date-loc">
                    <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                    Dec 2020 - Dec 2021
                    <a fxHide.xs>
                      <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                      Tianjin, China
                    </a>
                  </p>
                  <p class="item-content">Awarded 1st prize as International Student Ambassador. Guided incoming students on college life, Chinese culture, and academic programs. Organized seminars abroad to promote university opportunities.
                  </p>
                </div>
                <hr ngClass.gt-sm="separator" ngClass.lt-md="separator--small">
                <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
                  <a class="item-title">UN Volunteer</a>
                  <div fxLayout="row">
                    <h3>
                      <a class="item-subtitle link-style-black" href="https://youngstarsfoundation.org/"
                         target="_blank">
                         Youngstars Foundation</a></h3>
                  </div>
                  <p class="item-date-loc">
                    <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                    January 2020 -  June 2020
                    <a fxHide.xs>
                      <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                      Nigeria, Africa
                    </a>
                  </p>
                  <p class="item-content">Engaged in a self-esteem program for African women, empowering them to overcome societal barriers and pursue greatness.
                  </p>
                </div>
                
              </div>
            </div>
          </div>

          <!-- section conferance -->

          <div fxHide.lt-md>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center" fxLayoutAlign="center start">
              <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
                <div fxFlex.gt-sm="200px" fxFlex.lt-md="100" ngClass.gt-sm="underline-title" ngClass.lt-md=""
                     fxLayoutAlign.lt-md="center center">
                  <h1 class="left-titles">In-Person</h1>
                </div>
              </div>
              <div fxFlex="60">
                <div fxFlex.lt-md="" fxFlex="70" class="underline-title" fxLayout="column"
                     fxLayoutAlign.lt-md="center center">
    
                  <h1 class="left-titles">(Attended)</h1>
                </div>
              </div>
            </div>
          </div>
    
          <div fxHide.gt-sm ngClass.sm="small-margin" ngClass.xs="small-margin--xs" class="underline-title"
               fxLayoutAlign="center center">
            <h1 class="left-titles">In-Person </h1>
          </div>
    
          <div ngClass.sm="small-margin" ngClass.xs="small-margin--xs" fxLayout="row" fxLayout.lt-md="column"
               fxLayoutAlign.lt-md="center center"
               fxLayoutAlign="center start">
            <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
            </div>
            <div fxFlex="60">
              <div class="text-area" fxFlex.lt-md="" fxFlex="70" fxLayout="column" fxLayoutAlign.lt-md="center center">
    
    
                <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
    
    
                  <div fxLayout="row">
                    <h3>
                      <a class="item-subtitle link-style-black"
                         href="https://www.unr.edu/cybersecurity/conference"
                         target="_blank">Enhancing Mobile App Security: A Fine-Tuned BERT Based Transfer Learning Approach for
                         Cybersecurity-Driven Vulnerability Detection</a></h3>
                  </div>
    
                  <p class="item-date-loc">
                    <fa-icon class="icon-right-margin" [icon]="authors"></fa-icon>
                    <b>Muhammad Sohaib</b>
                  </p>
                  <p class="item-content">
                    <i>UNR Cybersecurity Conference, Edges of Cybersecurity: From machine learning to quantum, 5 Oct 2023  🇺🇸@Reno, USA.</i>
                  </p>
                  <div fxLayout="column" fxLayoutGap="5px">
                    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
    
                      <img class="previewable-image2" fxFlex="50"
                           src="assets/cyber1.jpg"
                           alt="image at full size">
                      <img class="previewable-image2" fxFlex="50"
                           src="assets/cyber2.jpg"
                           alt="image at full size">
             
    
                    </div>
                  </div>
                  <br/>
                  <hr ngClass.gt-sm="separator-slim" ngClass.lt-md="separator-slim--small">
                  <div fxLayout="row">
                    <h3>
                      <a class="item-subtitle link-style-black"
                         href="https://www.hilton.com/en/hotels/dcawhhh-washington-hilton/"
                         target="_blank">HCI-Driven Machine Learning for Early Detection of Lung Cancer: An Ensemble Approach</a></h3>
                  </div>
    
                  <p class="item-date-loc">
                    <fa-icon class="icon-right-margin" [icon]="authors"></fa-icon>
                    <b>Muhammad Sohaib</b>
                  </p>
                  <p class="item-content">
                    <i>International Conference on Human-Computer Interaction 2024. 🇺🇸@Washington, D.C. USA</i>
                  </p>
                  <div fxLayout="column" fxLayoutGap="5px">
                    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
    
                      <img class="previewable-image" fxFlex="50"
                           src="assets/h3.jpeg"
                           alt="image at full size">
                      <img class="previewable-image2" fxFlex="50"
                           src="assets/h1.jpg"
                           alt="image at full size">
                    
    
                    </div>
                  </div>
                  <br/>
                  <hr ngClass.gt-sm="separator-slim" ngClass.lt-md="separator-slim--small">
                  <div fxLayout="row">
                    <h3>
                      <a class="item-subtitle link-style-black"
                         href="https://seattleconventioncenter.com/"
                         target="_blank">Multi-Aperture Fusion of Transformer-Convolutional Network (MFTC-Net) for 3D Medical Image Segmentation and Visualization
                        </a></h3>
                  </div>
    
                  <p class="item-date-loc">
                    <fa-icon class="icon-right-margin" [icon]="authors"></fa-icon>
                    Siyavash Shabani, <b>Muhammad Sohaib</b>, Sahar Mohammed, Bahram Parvin
                  </p>
                  <p class="item-content">
                    <i>CVPR 2024, 🇺🇸@Seattle WA, USA</i>
                  </p>
                  <div fxLayout="column" fxLayoutGap="5px">
                    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
    
                      <img class="previewable-image" fxFlex="100"
                      src="assets/cvpr.jpeg"
                      alt="image at full size">
                 
    
                    </div>
                  </div>
                  <!-- <hr ngClass.gt-sm="separator-slim" ngClass.lt-md="separator-slim--small"> -->
                </div>
              </div>
            </div>
          </div>

          <!-- section conferance end -->
        </div>
      </div>
    </div>
